@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Tailwind CSS Breakpoints */
@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
}

/* Tailwind CSS Colors, default is dark mode */
@theme {
  --background-primary: #0a0a0a;
  --background-secondary: #171717;
  --background-button: #2d2d2d;
  --background-button-hover: #3d3d3d;
  --foreground-primary: #ededed;
  --foreground-secondary: #f5f5f5;
}

/* Light Mode */
@layer base {
  :root[data-theme="light"] {
    --background-primary: #ffffff;
    --background-secondary: #f0f0f0;
    --background-button: #e0e0e0;
    --background-button-hover: #d0d0d0;
    --foreground-primary: #171717;
    --foreground-secondary: #0a0a0a;
  }
}

/* use this for inline styles */
@theme inline {
  --color-point: #FBE3B1;
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-background-button: var(--background-button);
  --color-background-button-hover: var(--background-button-hover);
  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-secondary: var(--foreground-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background-primary);
  color: var(--foreground-primary);
  font-family: Arial, Helvetica, sans-serif;
}
